*{
    margin: 10px;
}

.form{
    width: 30%;
    border: 5px;
    border: 2px solid rgba(255,255,255, 0.224);
    padding: 40px;
    display: flex;
   flex-direction: column;   
   justify-content: center;
   align-items: center;
   opacity: 1.2;
   margin-left: 60px;
   margin-top: 50px;
   


    
}


form input{
    
    width: 230px;
    padding:6px;
    overflow: none;
}

input[type='submit']{
    width: 230px;
    background: blue;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}